.pureModalContent {
  padding: var(--top-padding) var(--right-padding) var(--bottom-padding)
    var(--left-padding);
  overflow: auto;
  box-sizing: border-box;
  overscroll-behavior: contain;
  width: 100%;
  grid-row: 2;
  min-block-size: 0; /* critical in Grid to allow inner scrolling */
}
