.pureModalHeader {
  padding: 0 calc(var(--right-padding) * 2) 0 var(--left-padding);
  border-bottom: 1px solid var(--dividers-color);
  background: var(--background-panels);
  backdrop-filter: blur(4px);
  width: 100%;
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
}
