.pureModalFooter {
  padding: var(--top-padding) var(--right-padding) var(--bottom-padding)
    var(--left-padding);
  border-top: 1px solid var(--dividers-color);
  background: var(--background-panels);
  backdrop-filter: blur(4px);
}
