body:has(.pureModalBackdrop) {
  overflow: hidden;
}

.pureModalBackdrop {
  --radius: 12px;
  --backdrop-blur: 2px;
  --backdrop-color: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  --max-width: 95vw;
  --max-height: 90vh;
  --background: white;
  --background-panels: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  --z-index: 1041;
  --top-padding: 16px;
  --bottom-padding: 16px;
  --left-padding: 24px;
  --right-padding: 24px;
  --dividers-color: #eee;

  backdrop-filter: blur(2px);
  transition: opacity 160ms ease-out;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media (max-width: 600px) {
  .pureModalBackdrop {
    --radius: 12px 12px 0 0;
    justify-content: end;
  }
}

.pureModal {
  z-index: var(--z-index);
  background: var(--background);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  max-height: var(--max-height);
  max-width: max(320px, var(--max-width));
  overflow: auto;
  height: 100%;
  display: grid;
  aspect-ratio: 4 / 3;

  /* minmax(0, max-content) */
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-template-rows:
    auto /* header row: collapses if no header */
    minmax(0, 1fr) /* main row: stretches and can scroll */
    minmax(0, max-content); /* footer row: collapses if no footer */

  &:has(> .pureModalHeader) > .pureModalContent {
    grid-row: 2;
  }
  min-width: 320px;
}

.pureModalHeader {
  padding: 0 calc(var(--right-padding) * 2) 0 var(--left-padding);
  border-bottom: 1px solid var(--dividers-color);
  background: var(--background-panels);
  backdrop-filter: blur(4px);
  width: 100%;
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
}

.pureModalContent {
  padding: var(--top-padding) var(--right-padding) var(--bottom-padding)
    var(--left-padding);
  overflow: auto;
  box-sizing: border-box;
  overscroll-behavior: contain;
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  min-block-size: 0; /* critical in Grid to allow inner scrolling */
}

.pureModalFooter {
  padding: var(--top-padding) var(--right-padding) var(--bottom-padding)
    var(--left-padding);
  border-top: 1px solid var(--dividers-color);
  background: var(--background-panels);
  backdrop-filter: blur(4px);
  display: block;
  width: 100%;
  box-sizing: border-box;
  grid-row: 3;
  grid-column: 1 / -1;
}
