.pureModal {
  z-index: var(--z-index);
  background: var(--background);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  max-height: var(--max-height);
  max-width: max(320px, var(--max-width));
  overflow: auto;
  height: 100%;
  display: grid;
  aspect-ratio: 4 / 3;

  /* minmax(0, max-content) */
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-template-rows:
    minmax(0, max-content) /* header row: collapses if no header */
    minmax(0, 1fr) /* main row: stretches and can scroll */
    minmax(0, max-content); /* footer row: collapses if no footer */
}
